body {
    margin: 0;
    font-family: "SegoeUI","Segoe UI",sans-serif;
    font-size: 14px;
    color: rgb(68, 68, 68);
}
body.browser {
    background-color: #f6f9fd;
    background-image: linear-gradient(160deg, #e3ebf3, #cfe6f5);
}

a,
a:visited,
a:active {
    color: #1D70B8;
    text-decoration: none;
}

.loading-small {
    height: 75px;
    background: #fff url('loading75px.gif') no-repeat;    
}
.loading-tree {
    display: none;
    position: fixed;
    opacity: 0.8;
    height: 100%;
    width: 100%;
    z-index: 999;
    background: #fff url('loading75px.gif') no-repeat center center;    
}

.error-control {
    height: 75px;
    display: none;
}
.error-big {
    display: none;
    position: fixed;
    min-height: 300px;
    min-width: 450px;
    width: 36vw;
    height: 40vh;
    top: 25vh;
    left: 32vw;
    background-color: #fff;
    border-radius: 10px;
    padding: 19px;
    z-index: 1;
}

.main {
    margin: 2px;
    display: none;
    max-height: 200px;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
}

.ctrl-element {
    display: inline-block;
    max-height: 200px;  
    vertical-align: top;
}

#img-preview {
    max-width: calc((100vh - 4px) * 1.62);
    max-height: calc(100vh - 4px);
    width: auto;
    height: auto;
}

#img-container {
    margin: 0;
    padding: 0;
    height: calc(100vh - 4px);
    width: calc((100vh - 4px) * 1.62);
}

#controls {
    padding-left: 10px;
    padding-top: 16px;
    height: 100%;
}

.btn {
    width: 180px;
    height: 40px;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    border-radius: 2px;
    font-family: "SegoeUI","Segoe UI",sans-serif;
    border: none;
    margin-top: 10px;
}

#header {
    box-sizing: border-box;
    background-color: #1D70B8;
    color: #fff;
    height: 42px;
    padding: 0px 14px;
    border-radius: 8px;
    margin: 10px;
}
#logo-container {
    float: right
}
h1 {
    margin-top: 0;
    font-weight: 400;
}
h2 {
    margin-top: 16px;
    font-weight: 400;
}
h3 {
    font-size: 16px;
    font-weight: bold;
    color: #3c505e;
    margin-top: 8px;
}
h4 {
    margin-top: 0px;
    color: #3c505e;
    font-weight: 700;
    font-size: 11pt;
}

/* The Modal (background) */
#modal {
    display: none;
    position: fixed;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}

#copyright {
    display: none;
    position: fixed;
    top: 36px;
    right: 24px;
    background-color: #fff;
    margin: auto;
    width: 280px;
    height: 170px;
    border-radius: 10px;
    padding: 19px;
    z-index: 1;
}

.close {
    color: #999;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}
.logo {
    padding-top: 7px;
    padding-right: 0px;
}
.logo:hover {
    cursor: pointer;
}
  
.close:hover,
.close:focus {
    text-decoration: none;
    cursor: pointer;
}

#flexbox {
    display: flex;
    flex-wrap: nowrap;
    height: calc(100vh - 72px);
    background-color: #f2f6f9;
    overflow: auto;
    margin: 10px;
    border-radius: 8px;
    min-width: 220px
}

#middle {
    width: 60%;
    background-color: #fefeff;
    height: auto;
    display: block;
}

#details-container {
    width: 20%;
    background-color: #f2f6f9;
    padding: 8px 8px;
    height: auto;
    min-width: 150px;
}

#treeview-container {
    width: 20%;
    background-color: #f2f6f9;
    padding: 8px 8px;
    min-width: 150px;
    overflow: scroll;
}

#grid-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: auto;
}
.picture-grid {
    display: flex;
    flex-wrap: wrap;
}
  
.tile {
    position: relative;
    /*flex-basis: calc(20% - 10px);*/
    margin: 5px;
    border: 0;
    box-sizing: border-box;
    background-color: #d0d0d0;
    box-shadow: inset 0 0 15px rgba(0,0,0,.1), inset 0 0 0 1px rgba(0,0,0,.05);
    border-radius: 4px;
}

@media (min-width: 1620px) {
    .tile {
        flex-basis: calc((100%/8) - 10px);
    }
}
@media (min-width: 1420px) and (max-width: 1619px) {
    .tile {
        flex-basis: calc((100%/7) - 10px); 
    }
}
@media (min-width: 1220px) and (max-width: 1419px) {
    .tile {
        flex-basis: calc((100%/6) - 10px);
    }
}
@media (min-width: 1020px) and (max-width: 1219px) {
    .tile {
        flex-basis: calc((100%/5) - 10px);
    }
}
@media (min-width: 820px) and (max-width: 1019px) {
    .tile {
        flex-basis: calc((100%/4) - 10px);
    }
}
@media (min-width: 680px) and (max-width: 819px) {
    .tile {
        flex-basis: calc((100%/3) - 10px);
    }
}
@media (min-width: 560px) and (max-width: 679px) {
    .tile {
        flex-basis: calc((100%/2) - 10px);
    }
}
@media (max-width: 560px) {
    .tile {
        flex-basis: calc(100% - 10px);
    }
}
.tile::before {
    content: '';
    display: block;
    padding-top: 100%;
}

  
.tile .content {
    position: absolute;
    top: 0; left: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    border-radius: 4px;
}
.content label.thumbnail  {
    display: none;
    background-color: white;
    opacity: 0.7;
    text-align: center;
    position: absolute;
    width: calc(100% - 2px);
    bottom: 0;
    min-height: 19px;
    max-height: calc(100% - 4px);
    overflow: hidden;
    padding: 2px 0px 2px 2px;
    font-size: 8pt;
    width: calc(100% - 2px);
}
.content:hover > label  {
    display: block;    
    
}
#uploadNewImage {
    background: url('upload.png') center center no-repeat;
    background-size: cover;
}
.selectable:hover,
.selected {
    border: 4px #1D70B8 solid;
    border-radius: 4px;
}
#uploadContainer {
    display: none;
    position: fixed;
    top: 67px;
    left: 282px;
    background-color: #fff;
    border: 2px dashed rgb(68, 139, 201);
    margin: auto;
    width: 0px;
    height: 0px;
    border-radius: 10px;
    padding: 19px;
    z-index: 1;
}
#uploader {
    display: none;
    margin: 0px;
    height: 100%;
    text-align: center;
}

#previewImage {
    width: 100%;
    margin-bottom: 12px;
}
label.labelInput {
    margin-top: 6px;
    margin-right: 6px;
    width: 100%;
    display: block;
    text-align: right;
}
label.labelInput span {
    display: inline-block;
    margin-right: 8px;
}
label.labelInput input {
    width: calc(100% - 75px);
    font-family: inherit;
    font-size: inherit; 
    cursor: inherit;
}
input {
    border: 1px solid #ccd7e4;
    background-color: inherit;
    color: #828a95;
    padding: 2px 4px;
}
button {
    background-color: #1D70B8;
    border: 1px solid rgb(7, 52, 92);
    border-radius: 5px;
    width: 100%;
    margin-top: 18px;
    height: 34px;
    color: #fff;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit; 
}
button:hover {
    background-color: rgb(68, 139, 201);
}
button:disabled {
    background-color: rgb(68, 139, 201);
    border-color: rgb(68, 139, 201);
}
.fileupload {
    box-sizing: border-box;
    width: 100%;
    margin-top: 5px;
}
.activeDropTarget {
    background: url(UploadActive.png) center center no-repeat !important;
    background-size: cover !important;
}
#imageUploadFile {
    display: none;
}
#fileUploadLabel {
    width: 100%;
    height: 100%;
    cursor: pointer;
}
#fileUploadLabel span {
    left: 0px;
    bottom: 0px;
    position: absolute;
}